node_modules/

# Django specific
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Django environment & virtualenv
.env
venv/
ENV/
env/
.venv/
.ENV/
env.bak/
venv.bak/

# Django static files collection
static/
staticfiles/